# The configuration file

MAX_PASTES_PER_HOUR=30

# The database connection
DBDRIVER=mysql
DBHOST=localhost
DBNAME=pastebee
DBUSER=pastebee
DBPASS=yourpassword

# Theming
#
# Available themes are
#    + default
#    + light
THEME=default
