/**
 * A 'light grey' theme for pastebee.
 *
 * @author  Ikaros Kappler
 * @date    2018-08-07
 * @version 1.0.0
 **/

.pastebee {
    background   : #f8f8f8;
    font-family  : monospace;
    font-size    : 10pt;
}

.pastebee header {
    font-family  : "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size    : 16pt;
    background   : #f8a800;
    color        : #ffffff; 
}

.pastebee .info {
    font-family  : sans-serif;
    background   : #e8e8e8;
    color        : black;
}

.pastebee .info input, .pastebee .info select {
    background    : transparent;
    border-left   : none;
    border-right  : none;
    border-top    : none;
    border-bottom : 1px solid #f8a800;    
    height        : 18px;
    margin        : 2px;
    outline       : none;
    color         : black;
}

.pastebee .info select {

}

.pastebee .info select option {
    background    : rgba(232,232,232,0.5);
    border        : none;
    outline       : 0;
}

.pastebee .info label {
    color         : black;
}

.pastebee .info input::placeholder {
    color         : black;
}

.pastebee textarea::placeholder {
    color         : black;
}

.font-mono {
    color        : #black;
}

.pastebee .linenos {
    border       : transparent;
    outline      : none;
    background   : #888888;
    color        : #ffffff;
}

.pastebee textarea, .pastebee pre {
    border       : transparent;
    outline      : none;
}
