/**
 * The default teal-and-orange theme for pastebee.
 *
 * @author  Ikaros Kappler
 * @date    2018-07-06
 * @version 1.0.0
 **/

.pastebee {
    background    : #003333;
    font-family   : monospace;
    font-size     : 10pt;
}

.pastebee header {
    font-family   : "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size     : 16pt;
    background    : #f8a800;
    color         : #ffffff; 
}

.pastebee header .search-wrapper #search-icon { }

.pastebee header .search-wrapper #search-container {
    background    : white;
}

.pastebee header .search-wrapper #search-container #search-input {
    background    : transparent;
    border-left   : none;
    border-right  : none;
    border-top    : none;
    border-bottom : 1px solid #f8a800;    
    height        : 18px;
    margin        : 2px;
    outline       : none;
    color         : black;
}

.pastebee header .search-wrapper #search-container #clear-search {
    color         : black;
}

.pastebee header .search-wrapper #search-container #search-results {
    color         : black;
}

.pastebee header .search-wrapper #search-container #search-results a {
    color         : black;
}

.pastebee .info {
    font-family   : sans-serif;
    background    : #004444;
    color         : white;
}

.pastebee .info input, .pastebee .info select {
    background    : transparent;
    border-left   : none;
    border-right  : none;
    border-top    : none;
    border-bottom : 1px solid #f8a800;    
    height        : 18px;
    margin        : 2px;
    outline       : none;
    color         : white;
}

.pastebee .info select {

}

.pastebee .info select option {
    background    : rgba(0,51,51,0.5);
    border        : none;
    outline       : 0;
}

.pastebee .info label {
    color         : white;
}

.pastebee .info input::placeholder {
    color         : grey;
}

.pastebee textarea::placeholder {
    color         : grey;
}

.font-mono {
    color        : #c8c8c8;
}

.pastebee .linenos {
    border       : transparent;
    outline      : none;
    background   : #002222;
}

.pastebee textarea, .pastebee input, .pastebee pre {
    border       : transparent;
    outline      : none;
}
